{% extends 'myapp/base.html' %}
{% block content %}
<div class="container page-center">
	<!-- <br><br> -->
	<h1>Login</h1>
	<form method="POST">
		{% csrf_token %}
		{% for field in form %}
			<input type="{% if field.label == 'Password' %}password{% else %}input{% endif %}" name="{{ field.name}}" class="form-control" placeholder="{{ field.label }}">
			<small class="text-danger">{{ field.errors }}</small>
			<br>
		{% endfor %}
		<br>
		<button type="submit" class="btn btn-success">Login</button>
		<br>
		<a href="/signup" class="text-info">Not registered, yet? Sign Up!</a>
	</form>
</div>
{% endblock %}


