{% extends 'myapp/base.html' %}
{% block content %}
<div class="container page-center">
	<br><br>
	<h1>Sign Up</h1>
	<form method="POST">
		{% csrf_token %}
		{% for field in form %}
			<input type="{% if 'password' in field.name %}password{% else %}input{% endif %}" name="{{ field.name}}" class="form-control" placeholder="{{ field.label }}">
			<small class="text-danger">{{ field.errors }}</small>
			<br>
		{% endfor %}
		<br>
		<button type="submit" class="btn btn-success">Sign Up</button>
		<br>
		<!-- <a href="/register">Not registered, yet? Sign Up!</a> -->
	</form>
</div>
{% endblock %}